<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.home_dp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LEGEND"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AndroidLab"
        tools:replace="android:roundIcon,android:icon,android:label"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbvld1WOOdn4I2ONSQKFiACzHRj5RzG0w" />

        <activity
            android:name="com.example.home_dp.RefMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity android:name="com.example.show_recipes.MainActivityShow"/>
    </application>

</manifest>