<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.main_dp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LEGEND"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidLab"
        tools:replace="android:label">
        <activity
            android:name=".selectactivity.NoodleActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.OilActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.EtcActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.SauceActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.ProActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.FishEtcActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.HaejoryuActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.CrapActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.ClamActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.FishActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.FishMidActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.GrainActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.BreadActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.DairyActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.FruitActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.VegeActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.MeatEtcActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.ChickActiviy"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.CowActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.PigActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".selectactivity.MeatMidActivity"
            android:exported="false"
            android:taskAffinity="com.multiFinish"/>
        <activity
            android:name=".SelectMainActivity"
            android:exported="true"
            android:taskAffinity="com.multiFinish">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
    </application>

</manifest>